<!DOCTYPE html>
<% const json = JSON.parse(news.json); %>
<html>
    <%- include("head", { title: json.title + " | LetovoArchive", description: "News on the Letovo Archive" }) %>
    <body>
        <%- include("header") %>
        <h1 class="title center">News: <%= json.title %></h1>
        
        <div class="center">
            Date: <%= new Date(parseInt(news.date)).toUTCString() %><br>
            <a href="/news/<%= news.id %>/diff">Create diff with the same ID</a><br>
            <a href="/news/<%= news.id %>/diff?all">Create diff with another ID</a><br>
            <%- include("jsonviewer", { json }) %>
        </div>

        <%- include("footer") %>
    </body>
</html>