<!DOCTYPE html>
<html>
    <%- include("head", { title: upload.title + " | LetovoArchive", description: "Upload on the Letovo Archive" }) %>
    <body>
        <%- include("header") %>
        <h1 class="title center">Upload: <%= upload.title %></h1>
        
        <div class="center">
            Date: <%= new Date(parseInt(upload.date)).toUTCString() %><br>
            <a href="/uploads/<%= upload.id %>/download">Download all</a><br><br>
            <% Object.entries(files).forEach(([name, file]) => { %>
                <a href="/dl/<%= file %>"><%= name %></a><br>
            <% }); %>
        </div>

        <%- include("footer") %>
    </body>
</html>