<!DOCTYPE html>
<% const json = JSON.parse(dump.json); %>
<html>
    <%- include("head", { title: new Date(parseInt(dump.date)).toUTCString() + " | LetovoArchive", description: "HH.ru dump on the Letovo Archive" }) %>
    <body>
        <%- include("header") %>
        <h1 class="title center">HH.ru dump: <%= new Date(parseInt(dump.date)).toUTCString() %></h1>
        
        <div class="center">
            <a href="/hhru/<%= dump.id %>/diff">Create diff with the same ID</a><br>
            <a href="/hhru/<%= dump.id %>/diff?all">Create diff with another ID</a><br>
            <%- include("jsonviewer", { json }) %>
        </div>

        <%- include("footer") %>
    </body>
</html>